# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media
staticfiles

# Virtual Env
.venv/
venv/
env/

# Environment Variables
.env
keys/

# IDE
.vscode/
.idea/
.DS_Store

# Additional scripts
misc_scripts/

PROGRESS.md
logs/